<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>API for Developing NLP Applications for Urban Planning</h1>
    <p>Short description will be added</p>
    <p>check what specification the API conforms to <a href="/conformance">here</a></p>
    <p>Explore the <a href=""> API collections</a> </p>
    <br>

    <p>The API includes data on: </p>
    <a href="">Very Static Spatial Data</a>
    <br>
    <a href="">Somehow Static Spatial Data</a>
    <br>
    <a href="">Real-time Data</a>

    <a href="/"> API Collections <a>

  </div>
</main>

<!-- <footer>
  <%- include('../partials/footer'); %>
</footer> -->

</body>
</html>